# --- System & OS  ---
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
Desktop.ini

# --- IDE / Editors  ---
.vscode/
.idea/
*.swp

# --- Environments  ---
.env
venv/
env/
.venv/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/
*-checkpoint.ipynb
# --- Logs & Temp ---
*.log