# --- Core Data Science ---
numpy==2.3.2
pandas==2.3.2
scipy==1.16.2

# --- Visualization ---
matplotlib==3.10.5
plotly==6.3.1
missingno==0.5.2
kaleido==1.2.0
nbformat>=5.10.0 

# --- Machine Learning & Processing ---
scikit-learn==1.7.2
joblib==1.5.2
regex==2025.11.3
rapidfuzz>=3.0.0  

# --- Environment & Utils ---
ipython==9.4.0
ipykernel>=6.29.0 
kagglehub==0.3.13